$background: rgb(51, 48, 66);
$white: rgb(255, 255, 255);
$success: rgb(0, 110, 59);
$black: rgb(0, 0, 0);
$purple: #7021b9;
$failure: rgb(110, 0, 0);

@keyframes fade {
	0% {
		opacity: 0;
		transform: translateY(3px);
	}
	10% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(3px);
	}
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

canvas {
	border: 1px solid $black;
	margin: 1rem;
	min-width: 1rem;
	min-height: 1rem;
	position: relative;
	justify-self: center;
	align-self: center;
}

canvas:active {
	cursor: crosshair;
}

.image-editor {
	background-color: $background;
	display: flex;
	align-items: flex-start;
	flex-direction: row;

	display: grid;
	grid-template-columns: 1fr 9fr;
	align-items: flex-start;
}

.image-editor li {
	margin: 0;
	padding: 0;
}

.image-editor li,
.image-editor ul {
	list-style-type: none;
	margin: 0;
}

.image-editor__filters {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	min-width: fit-content;
}

.image-editor__controls {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	background-color: #0000008f;
	z-index: 1;
}

.image-editor__buttons {
	display: flex;
	gap: 0.5rem;
}

* {
	color: $white;
	accent-color: $white;
}

.image-editor li {
	display: flex;
	gap: 0.25rem;
	flex-direction: column;
	justify-content: space-between;
}

button {
	background-color: $purple;
	border: 2px solid $black;
	padding: 0.5rem 0.25rem;
	border-radius: 1px;
	display: block;
	cursor: pointer;
}
button:active {
	transform: translateY(2px);
}

button.button--success {
	background-color: $success;
}

button.button--small {
	width: 3rem;
	height: 3rem;
}

label,
button {
	user-select: none;
}

h1 {
	font-size: 1.5rem;
	line-height: 3rem;
	padding: 0;
	margin: 0;
}

.notification {
	font-size: 1.5rem;
	color: white;
	padding: 1rem 1.5rem;
	border-radius: 2px;
	animation: 2s forwards fade;
	text-align: left;
}

.notification--success {
	background-color: $success;
}

.notification--fail {
	background-color: $failure;
}

.notifications {
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 0;
	padding: 0;
}
